version: "3.9"
name: infra-spb

# Install docker loki driver:
# docker plugin install grafana/loki-docker-driver:2.9.2 --alias loki --grant-all-permissions
#x-logging: &default-logging
#  driver: loki
#  options:
#    loki-url: 'http://loki:3100/api/prom/push'
#    loki-pipeline-stages: |
#      - multiline:
#          firstline: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}.\d{3}'
#          max_wait_time: 3s
#      - regex:
#          expression: '^(?P<date>\d{4}-\d{2}-\d{2})T(?P<time>\d{2}:\d{2}:\d{2}.\d{3}) (?P<message>(?s:.*))$$'

services:
  postgres:
    image: postgres:18.0
    container_name: sbp-pg-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - "F:/Projects/db/sbp_pg_data:/var/lib/postgresql"
  rabbitmq:
    image: rabbitmq:4.2-management
    container_name: sbp-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-admin}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-admin}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - "F:/Projects/db/sbp_rabbitmq_data:/var/lib/rabbitmq"
      - "F:/Projects/db/sbp_rabbitmq_log:/var/log/rabbitmq"

  kafka:
    image: apache/kafka-native:4.1.1-rc2
    container_name: sbp-kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
    environment:
      # KRaft single node: broker + controller
      KAFKA_NODE_ID: "1"
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://localhost:9092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"   # service DNS name
      # Cluster identifier (generate once and keep stable):
      # docker run --rm apache/kafka:4.1.0 /opt/kafka/bin/kafka-storage.sh random-uuid
      CLUSTER_ID: "qGkQH8y0T0mP3oYQpXk4wQ"
      # Optional: auto-create topics for local dev
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"
        ]
      interval: 15s
      timeout: 10s
      retries: 10
    volumes:
      # Official images persist logs under /var/lib/kafka/data
      - "F:/Projects/db/sbp_kafka_data:/var/lib/kafka/data"

  redis:
    image: redis:7.0
    container_name: sbp-redis
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - "F:/Projects/db/spb_redis_data:/data"

#  otelcol:
#    image: otel/opentelemetry-collector-contrib:0.99.0
#    container_name: sbp-otelcol
#    restart: unless-stopped
#    command: ["--config=/etc/otelcol/config.yaml"]
#    ports:
#      - "4317:4317"   # OTLP gRPC
#      - "4318:4318"   # OTLP HTTP
#    volumes:
#      - ./otel-config.yaml:/etc/otelcol/config.yaml:ro

  loki:
    image: grafana/loki:3.5.0
    container_name: sbp-loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"

  prometheus:
    image: prom/prometheus:v3.8.1
    container_name: sbp-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --enable-feature=exemplar-storage # Enable exemplar storage feature
      - --storage.tsdb.path=/prometheus
  tempo:
    image: grafana/tempo:2.9.0
    container_name: sbp-tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200"   # Tempo UI/API
      - "4317:4317"   # OTLP gRPC receiver
      - "4318:4318"   # OTLP HTTP receiver

  grafana:
    image: grafana/grafana:12.3-ubuntu
    container_name: sbp-grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER:-admin}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD:-admin}
    volumes:
      - "F:/Projects/db/sbp_grafana_storage:/var/lib/grafana"
    depends_on:
      - prometheus
      - tempo
      - loki

networks:
  default:
    name: infra-network-sbp
